.containerMenu{
  padding: 0px;
  width: 100%;
  height: 100px;
  background-color: var(--clrBL0);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1000; 
  
}

.logo{
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.logo img{
  height: 60px;
  cursor: pointer;
}

.iconSearch{
  margin-right: 20px;
  position: relative;
  cursor: pointer;
} 

.iconSearch svg, .iconSearch path{
  font-size: 28px;
  color: azure;
  cursor: pointer;
} 

.iconSearch svg:hover, .iconSearch:hover path{
  color: var(--bg0);
} 

.searchMain {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(240, 255, 255, .85);
}

.iconBar{
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
} 

.iconBar div:nth-child(2) svg, .iconBar div:nth-child(2) path{
  color: azure;
  font-size: 36px;
  cursor: pointer;
}

.containerMenuSide{
  width: 100%;
  max-width: 230px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 128, 145, 0.9);
  transition: all .25s;
  z-index: 1000;
}

.topMenuSide{
  padding: 30px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.topMenuSide svg, .topMenuSide path{
  color: azure;
  font-size: 45px;
  cursor: pointer;
}

.topMenuSide h1{
  margin-top: 5px;
  font-size: 16px;
  font-weight: 200;
  cursor: pointer;
}

.topMenuSide h2{
  padding: 2px 5px;
  margin-top: 0px;
  color: var(--bg1);
  font-size: 8.5px;
  background-color: azure;
  cursor: pointer;
}

.topMenuSide:hover{
  background-color: var(--clrBL2);
}

.topMenuSide:active{
  background-color: var(--clrBL3);
}

.listaMenuSide div{
  padding: 12px;
  width: 100%;
  height: auto;
  color: azure;
  font-size: small;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.listaMenuSide svg, .listaMenuSide path{
  margin-right: 5px;
  font-size: 20px;
  cursor: pointer;
}

.listaMenuSide div:hover{
  background-color: var(--clrBL2);
}

.listaMenuSide div:active{
  background-color: var(--clrBL3);
}

.menu, .iconUser{
  display: none;
}

.mainSignOut{
  margin-top: 18%;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boxSignOut{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.boxSignOut svg, .boxSignOut path{
  color: azure;
  font-size: 24px;
  cursor: pointer;
}

.boxSignOut svg:hover, .boxSignOut:hover path{
  color: rgb(212, 255, 255);
}

.boxSignOut svg:active, .boxSignOut:active path{
  color: rgb(199, 255, 255);
}

@media screen and (min-width: 768px) and (max-width: 1100px){

  .containerMenuSide{
    max-width: 320px;
  }

  .topMenuSide{
    padding: 45px;
  }

  .topMenuSide svg, .topMenuSide path{
    font-size: 60px;
  }
  
  .topMenuSide h1{
    font-size: 20px;
  }
  
  .topMenuSide h2{
    padding: 2px 5px;
    font-size: 12px;
  }

  .listaMenuSide svg, .listaMenuSide path{
    font-size: 24px;
  }

  .listaMenuSide div{
    font-size: 16.5px;
  }

  .boxSignOut{
    width: 50px;
    height: 50px;
  }

  .boxSignOut svg, .boxSignOut path{
    font-size: 24px;
  }

}

@media screen and (min-width: 1100px){

  .iconBar{
    display: none;
  }

  .logo{
    width: 180px;
  }

  .logo img{
    height: 60px;
    cursor: pointer;
  }

  .iconUser{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .iconUser:hover path, .iconUser:hover h1{
    color: var(--bg0);
  }

  .iconUser svg, .iconUser path{
    font-size: 18px !important;
    cursor: pointer;
  }

  .iconUser h1{
    font-size: 14px;
    cursor: pointer;
  }

  .menu{
    margin-right: 26px;
    width: 100%;
    max-width: 760px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .menu a{
    margin: 0 15px;
    font-size: 14px;
    color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
  }

  .menu svg, .menu path{
    margin-bottom: 5px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .menu a:hover, .menu a:hover svg, .menu a:hover path{
    color: var(--bg0);
  }

}

