:root{
  --bg0:rgb(22, 22, 22);
  --bg1:rgb(48, 48, 48);
  --bg2: rgb(61, 61, 61);
  --bg3: rgb(83, 83, 83);
  --bg4: rgb(102, 102, 102);
  --bg5: rgb(122, 122, 122);
  --bg6: rgb(150, 150, 150);

  
  --clrBL0: #007785;
  --clrBL1: #008494;
  --clrBL2: rgb(0, 150, 170);
  --clrBL3: #00a9bf;
  --clrBL4: #00bcd4;
  --clrBLSearch: #cefffb;

  --clrGR0: rgb(165, 165, 165);
  --clrGR1: rgb(184, 184, 184);
  --clrGR2: rgb(202, 202, 202);

}