.listEmptyMain{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.listEmptyMain div{
  position: relative;
}

.listEmptyMain svg, .listEmptyMain path{
  color: var(--bg5);
}

.listEmptyMain svg:nth-child(1), .listEmptyMain path:nth-child(1){
  font-size: 50px;
}

.listEmptyMain svg:nth-child(2), .listEmptyMain path:nth-child(2){
  padding: 2px;
  font-size: 28px;
  background-color: azure;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -10px;
  z-index: 1;
}

.listEmptyLarge{
  width: 100%;
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.listEmptyLarge div{
  position: relative;
}

.listEmptyLarge svg, .listEmptyLarge path{
  color: var(--bg5);
}

.listEmptyLarge svg:nth-child(1), .listEmptyLarge path:nth-child(1){
  font-size: 50px;
}

.listEmptyLarge svg:nth-child(2), .listEmptyLarge path:nth-child(2){
  padding: 2px;
  font-size: 28px;
  background-color: azure;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -10px;
  z-index: 1;
}