.boxMain{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.boxSection{
  margin: 10px 10px;
  width: 150px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
}

.box{
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.boxSelec{
  width: 100%;
  height: 150px;
  position: absolute;
  top: 0;
  left: -100%;
  background-color: rgba(0, 163, 192, .5);
  cursor: pointer;
}

.boxSection:hover .boxSelec{
  transform: translate(100%);
}

.noImage{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
  cursor: pointer;
}

.noImage svg, .noImage path{
  color: azure;
  font-size: 50px;
  cursor: pointer;
}

.box img{
  width: 150px;
  height: 150px;
  border-radius: 5px;
}

.title{
  padding: 0 2.5px;
  margin-top: 4px;
  width: 150px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.title h1{
  font-size: 14px;
  font-weight: 600 !important;
  text-align: center;
  word-break: break-all;
  color: black;
  cursor: pointer;
}